.cont
{
    background-color: rgb(5, 75, 52);
    font-size: 25px;
    color: white;
    width: 1000px;
    margin: auto;
    border-radius: 16px;
}

.head
{
    font-size: 30px;
    text-align: center;
}

.us
{
    padding: 10px;
}